.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.EightBall-ball {
  margin-top: 15%;
  margin-bottom: 2.5%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
 
}

.EightBall-message{
  position: relative;
  color: white;
  text-align: center;
  top: 75px;
}

.EightBall-counts > p {
  border: 50px;
  font-weight: 500;
}

.EightBall-green {
  color: green;
}

.EightBall-red {
  color: red;
}

.EightBall-goldenRod {
  color: goldenrod;
}

button {
  font-weight: 700;
  font-size: 16px;
}